<nav>
    <div class="style-title">
        <p>Write your own blog</p>
    </div>
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/create">Create blog</a></li>
    </ul>
</nav>